//h1 COLORS ----
    $color-primary: #E6E188;
    $color-primary-light: #E6D587;
    $color-primary-dark: #E6CA87;

    $color-grey-light-1: #faf9f9;
    $color-grey-light-2: #f4f2f2;
    $color-grey-light-3: #f0eeee;
    $color-grey-light-4: #ccc;

    $color-grey-dark-1: #333;
    $color-grey-dark-2: #777;
    $color-grey-dark-3: #999;

    $color-danger: #B22222;
    $color-danger-light: #BF2424;
    $color-danger-darken: #7C0A02;

    $color-success: #4F8710;
    $color-success-light: #579412;
    $color-success-darken: #416E0D;


    $color-facebook: #4267B2;
    $color-instagram: #E1306C;

//h1 Properties
    $border-line: 1.5px solid $color-grey-light-3;