.auth{
    max-width: 110rem;
    min-height: 30rem;

    flex-direction: row;
    background: none;
    box-shadow: none;


    @include media ("XL"){
        margin: 0;
        max-width: 80%;
        width: 80%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}