@import "../abstracts/index";

.dashboard{
    max-width: 140rem;
    margin: 8rem auto;
    background-color: $color-grey-light-2;
    
    min-height: 40rem;
    
    display: flex;
    flex-direction: column;
    
    @include box-shadow();
    @include media ("XL"){
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    &__body{
        display: flex;
        flex: 1;
        
        
        @include media("MD"){
            flex-direction: column;
        }
    }
    
    .page-content{
        background-color: #fff;
        flex: 1;
        padding: 3rem;
    }
}
